div {
            background: linear-gradient(0deg, rgba(34, 193, 195, 1) 35%, rgba(45, 142, 253, 1) 100%);
            padding-top: 2%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
            border-radius: 40px;
            box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.281);
            position: relative;
            margin: 20px auto;
            width: 400px;
            font-family: sans-serif;
}

body {
    background-color: rgb(199, 199, 199);
}

.form-label {
    font-weight: bold;
    color: white;
}