<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>Currency Converter</title>
</head>
<body>
    <div class="converter"> 
        <Form action="/" method="POST">
            <input type="text" placeholder="Currency Code" name="fromcurrcode">
            <input type="text" placeholder="Currency Code" name="tocurrcode">
            <input type="number" placeholder="Amount" name="from_amount">
            <button>Submit</button>
        </Form>
        <p> {{result}} </p>
    </div>
</body>
</html>